/* 언어설정 */
@charset 'utf-8';




/* 전제설정 */
* {
    margin: 0;
    padding: 0;
}
a {color: #000;
text-decoration: none;}
ul,ol {list-style: none;}
img {vertical-align: bottom;}


/* 헤더설정 */

/* .box1 a {
    font-size: 40px;
    font-weight: bold;
} */
.logo {
    font-size: 30px;
}
.logo a {}




/* 네비 */


/* nav {display: block;}
nav ul {
    display: flex;
    
}
nav li {
    padding: 5px;
    
} */
.box2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.gnb {}
.gnb ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.gnb a {
    display: block;
    font-size: 14px;
    padding: 5px;
}

/* 메인이미지 */
.topimg {max-width: 100%;}



/* 공지 */

/* .box4 h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.box4 ul {
    display: block;
    
    
}
.box4 li {
    margin: 5px;
    border-bottom: 1px solid #000;
} */

.notice {
   
}
.notice h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #666;
}
.notice ul {}
.notice li {}
.notice a {
    display: block;
    padding: 5px;
    font-size: 14px;
    border-bottom: 2px dotted #ddd;
}
.notice a::after {
    content: '';
    display: block;
    clear: both;
}
.notice time {float: left;}
.notice .txt {
    float: none;
    margin-left: 40px;
    padding-left: 10px;
}


/* 푸터 */
.copyright {
    /* background-color: #ddd; */
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.copyright p {
    font-size: 14px;
    color: #666;
    
}

/* .copyright, .box3, .boxA, .box4 {
    width: 1280px;
    margin: 0 auto;
} */

.box5 {
    background-color: #ddd;
    padding: 15px 0;
}
.boxA {padding: 8px 10px;}
.box3 {padding: 15px 10px;}
.box4 {}
.box5 {}

/* --------------------미디어쿼리-------------------- */

/* 768px이상 */
@media(min-width:768px) {
    /* 레이아웃 설정 */

.boxA {display: flex;}
.boxA>div {width: 50%;}

/* 네비설정 */
.box2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gnb {}
.gnb ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

}


/* 와이드데스크탑 */
@media(min-width:1280px) {
    .boxA, .box3, .copyright, .box4 {width: 1140px;
        margin: 0 auto;
    }
    .boxA_out {
        border-bottom: 1px solid #ddd;
        padding: 8px 0;
        margin-bottom: 15px;
    }
}